* {
    main-bg:            #020A1BB3;
    main-fg:            #CCDCFFE6;
    main-br:            #415695E6;
    main-ex:            #05215AE6;
    select-bg:          #ECAAF080;
    select-fg:          #4F2952E6;
}
