* {
    main-bg:            #0F021AB3;
    main-fg:            #E8CCFFE6;
    main-br:            #371358E6;
    main-ex:            #1A68C1E6;
    select-bg:          #F0AACF80;
    select-fg:          #52293FE6;
}
